// Variables
$color-main: #fc5c7d;
$color-white: #ffffff;
$color-light-grey: #8A8A8A;
$color-dark-grey: #1D1D1D;
$color-grey: #565656;
$color-bg: #F8F8FF;

// Spacings
$space-xxs: 2px;
$space-xs: 4px;
$space-sm: 8px;
$space-md: 16px;
$space-lg: 24px;
$space-xl: 32px;
$space-xxl: 64px;



